{% extends "base.html" %}

{% block title %}BazaRegat{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Optibaza</h1>
</div>
<p>Podatkovna baza regat za mladinski jadralni razred Optimist.
</p>
<div class="row">
  <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-body">
              <a href="{{ url_for('regate') }}" class="btn btn-primary btn-block">Regate</a>
              <img class="img-responsive hidden-xs" src="{{ url_for('static', filename = 'image_regate.png') }}">
              <p class="text-center">Rezultati po regatah.</p>

          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-body">
              <a href="{{ url_for('jadralci') }}" class="btn btn-primary btn-block">Jadralci</a>
              <img class="img-responsive hidden-xs" src="{{ url_for('static', filename = 'image_tekmovalci.png') }}">
              <p class="text-center">Rezultati po tekmovalcu.</p>

          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-body">
              <a href="{{ url_for('lestvica') }}" class="btn btn-primary btn-block">Lestvica</a>
              <img class="img-responsive hidden-xs" src="{{ url_for('static', filename = 'image_lestvica.png') }}">
              <p class="text-center">Kriterijska lestvica.</p>
          </div>
      </div>

  </div>
</div>

{% endblock %}
