{% extends "base.html" %}

{% block title %}Optibaza{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6"><img class="img-responsive" src="{{ url_for('static', filename = 'logo_full.png') }}"></div>
    <div class="col-sm-3"></div>
</div>
<p></p>
<h4 class="text-center">Podatkovna baza regat za mladinski jadralni razred Optimist.</h4>
<div class="row">
    <div class="col-xs-12" style="height:50px;"></div>
</div>
<div class="row">
  <div class="col-sm-4">
      <div class="panel panel-my-primary">
          <div  class="panel-heading">
              <h3 class="panel-title">Regate</h3>
          </div>
          <div class="panel-body">
              <img class="img-responsive hidden-xs" src="{{ url_for('static', filename = 'image_regate.png') }}">
              <p></p>
              <p>Rezultati posameznih regat</p>
              <a href="{{ url_for('regate') }}" class="btn my-primary btn-block">Izberi</a>
{#              <p class="text-center">Rezultati po regatah.</p>#}
          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="panel panel-my-primary">
          <div  class="panel-heading">
              <h3 class="panel-title">Jadralci</h3>
          </div>
          <div class="panel-body">
              <img class="img-responsive hidden-xs" src="{{ url_for('static', filename = 'image_tekmovalci.png') }}">
              <p></p>
              <p>Rezultati za posamezne tekmovalce</p>
              <a href="{{ url_for('jadralci') }}" class="btn my-primary btn-block">Izberi</a>
{#              <p class="text-center">Rezultati po tekmovalcu.</p>#}
          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="panel panel-my-primary">
          <div  class="panel-heading">
              <h3 class="panel-title">Lestvica</h3>
          </div>
          <div class="panel-body">
              <img class="img-responsive hidden-xs" src="{{ url_for('static', filename = 'image_lestvica.png') }}">
              <p></p>
              <p>Trenutna kriterijska lestvica za razred Optimist</p>
              <a href="{{ url_for('lestvica') }}" class="btn my-primary btn-block">Izberi</a>
{#              <p class="text-center">Kriterijska lestvica.</p>#}
          </div>
      </div>
  </div>
</div>

{% endblock %}
