{% extends "base.html" %}

{% block title %}{{ ime}}{% endblock %}

{% block page_content %}

<div class="row ">
    <div class="col-xs-12 ">
        <div class="panel panel-info visible-xs">
            <div class="panel-heading "><h4 class="panel-title hidden-sm-up">Namig</h4></div>
            <div class="panel-body">Za hitrejše dostopanje do rezultatov za posamezne plove razširite zgornji navigacijski meni in izberite želeni plov. Tam je na voljo tudi možnost iskanja po spodnjih tabelah.</div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h1>Rezultati jadralca po regatah: {{ ime}}</h1>
    <h3 class="my-primary-heading"> Št. jadra: {{ sail_no }}</h3>
    <p>Klub: {{ klub }} </p>
    <p>Spol: {{ spol }}</p>
    <p>Leto rojstva: {{ leto_rojstva }}</p>

</div>
<div id="section1" class="container-fluid">
    <div class="row">
    <div class="col-md-6">
  <h1></h1><!-- bar chart canvas element --><canvas id="chart" width="600" height="400"></canvas>
<script>
var mychart = document.getElementById("chart").getContext("2d");

new Chart(mychart, {
   type: 'bar',
   data: {
      labels: [{% for item in labels %}
                    "{{item}}",
               {% endfor %}],
      datasets: [{
         label: "Doseženo mesto na regati",
         data: [{% for item in values %}
                    {{item}},
                {% endfor %}],
         backgroundColor: 'rgba(151,187,205,0.2)',
         borderColor: 'rgba(151,187,205,1)',
         pointBackgroundColor: 'rgba(151,187,205,1)'
      }]
   },
   options: {
      legend: { display: false },
      title: {
          display: true,
          text: 'Mesto tekmovalca na udeleženih regatah'
      },
      scales: {
         yAxes: [{
            ticks: {
               beginAtZero: true,
               stepSize: 10
            }
         }],
         xAxes: [{
            ticks: {
                autoSkip: false
            }
         }]
      }
   }
});


</script>
    </div>
     <div class="col-md-6">
 <h1> </h1><!-- bar chart canvas element --><canvas id="chart2" width="600" height="400"></canvas>

  <script>
var mychart = document.getElementById("chart2").getContext("2d");

new Chart(mychart, {
   type: 'bar',
   data: {
      labels: [{% for item in labels %}
                    "{{item}}",
               {% endfor %}],
      datasets: [{
         label: "Dosežene točke na regati",
         data: [{% for item in values2 %}
                    {{item}},
                {% endfor %}],
         backgroundColor: 'rgba(151,187,205,0.2)',
         borderColor: 'rgba(151,187,205,1)',
         pointBackgroundColor: 'rgba(151,187,205,1)'
      }]
   },
   options: {
      legend: { display: false },
      title: {
          display: true,
          text: 'Točke tekmovalca na udeleženih regatah'
      },
      scales: {
         yAxes: [{
            ticks: {
               beginAtZero: true,
               stepSize: 20
            }
         }],
         xAxes: [{
            ticks: {
                autoSkip: false
            }
         }]
      }
   }
});


</script>
    </div>
        <div class="col-xs-12">
            <div class="panel panel-my-primary">
            <!-- Default panel contents -->
            <div class="panel-heading"><h4 class="panel-title">Rezultati</h4></div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class = "table">
                    <thead>
                    <tr>
                        <th>Regata</th>
                        <th>Mesto</th>
                        <th>Točke </th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    {% for i in range(n) %}
                        <tr>
                            <td>{{ labels[i]}}</td>
                            <td>{{ values[i]}}</td>
                            <td>{{ values2[i]}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
{% endblock%}