{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block title %}Jadralci{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 class="my-primary-heading">Jadralci</h1>
</div>
{% if prikazi_opozorilo %}
    <div class="row ">
        <div class="col-xs-12 ">
            <div class="panel panel-danger">
                <div class="panel-heading "><h4 class="panel-title">Tekmovalca ni v bazi!</h4></div>
                <div class="panel-body">Morda ste se zatipkali. Poskusite ponovno.</div>
            </div>
        </div>
    </div>
{% endif %}
<p>V spodnje polje vnesite ime jadralce in potrdite z gumbom "Išči".</p>
{{ wtf.quick_form(form, form_type=form_type) }}
{% if show_suggestions %}
    <div class="row">
        <div class="col-xs-12" style="height:30px;"></div>
    </div>
    <div class="row ">
        <div class="col-xs-6 ">
            <div class="panel panel-info">
                <div class="panel-heading "><h4 class="panel-title">Ste morda mislili...</h4></div>
                <div class="panel-body">
                    {% for i in range(sez_imen|length) %}
                        <p><a href="{{ url_for('jadralci_view', jadralec_id=dict[sez_imen[i]]) }}">{{ sez_imen[i] }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}