{% extends "base.html" %}

{% block title %}Lestvica{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 class="my-primary-heading">Lestvica</h1>
</div>

<div class="container-fluid">
    <div class="panel panel-my-primary">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4 class="panel-title">Lestvica</h4></div>
        <!-- Table -->
        <div class="table-responsive">
            {#        vstavi podatke#}
            <table class = "table" >
                <tr>
                    <th>Mesto</th>
{#                    <th>Št. jadra </th>#}
                    <th>Ime </th>
                    <th>Spol </th>
                    <th>Leto rojstva </th>
                    <th>Klub </th>
                    <th>Skupne točke </th>
                </tr>
                <tbody id="myTable">
                {% for i in range(data|length) %}
                        <tr>
                            {% for j in range(data[i]|length) %}
                                {% if j == 1 %}
                                    <td><a href="{{ url_for('jadralci_view', jadralec_id=id_list[i]) }}">{{ data[i][j]}}</a></td>
                                {% else %}
                                <td>{{ data[i][j]}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}