{% extends "base.html" %}

{% block title %}Lestvica{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Lestvica</h1>
</div>

<div class="container-fluid">
    <div class="panel panel-my-primary">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4 class="panel-title">Lestvica</h4></div>
        <!-- Table -->
        <div class="table-responsive">
            {#        vstavi podatke#}
            <table class = "table" >
                <tr>
                    <th>Mesto</th>
{#                    <th>Št. jadra </th>#}
                    <th>Ime </th>
                    <th>Spol </th>
                    <th>Leto rojstva </th>
                    <th>Klub </th>
                    <th>Skupne točke </th>
                </tr>
                <tbody id="myTable">
                {% for element in data %}
                    <tr>
                        {% for elementek in element %}
                            <td>{{ elementek}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}