{% extends "base.html" %}

{% block title %}{{ title}}{% endblock %}

{%block head %}
{{ super() }}
{#  <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{#  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
  <style>
  body {
      position: relative;
  }
  #section1 {padding-top:50px;color: black; }
  {% for nPlov in nPlovov %}
  #section{{ (nPlov + 1)|string }} {padding-top:50px;color: black; }
  {% endfor %}
  </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('index') }}" class="navbar-left"><img style="max-width:85px" src="{{ url_for('static', filename = 'logo_medium.png') }}"></a>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('regate') }}">Regate</a></li>
                        <li><a href="{{ url_for('jadralci') }}">Jadralci</a></li>
                        <li><a href="{{ url_for('lestvica') }}">Lestvica</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#section1"><p class="my-primary-text">Skupni rezultati</p></a></li>
                        {% for nPlov in nPlovov %}
                        <li><a href="#section{{ (nPlov + 1)|string }}"><p class="my-primary-text">{{ nPlov|string }}. plov</p></a></li>
                        {% endfor %}
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" id="myInput" placeholder="Iskanje po tabelah">
                            </div>
                        </form>
{#                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Vpis</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body_attribs %}
data-spy="scroll" data-target=".navbar" data-offset="50"
{% endblock %}

{% block page_content %}

<div class="row ">
    <div class="col-xs-12 ">
        <div class="panel panel-info visible-xs">
            <div class="panel-heading "><h4 class="panel-title hidden-sm-up">Namig</h4></div>
            <div class="panel-body">Za hitrejše dostopanje do rezultatov za posamezne plove razširite zgornji navigacijski meni in izberite želeni plov. Tam je na voljo tudi možnost iskanja po spodnjih tabelah.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <div class="container-fluid">
            <h1>{{ title}}</h1>
            <h3 class="my-primary-heading">{{ klub }}</h3>
            <p>{{ startDate}} - {{ endDate }}</p>
        </div>
    </div>
    <div class="col-xs-8 hidden-xs">
        <p>Tu lahko vstavljas!!!</p>
        <img class="img-responsive" src="{{ url_for('static', filename = 'image_regate.png') }}">
    </div>
</div>
<div id="section1" class="container-fluid">
    <h1>Rezultati</h1>
    <div class="panel panel-my-primary">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4 class="panel-title">Rezultati - končni</h4></div>
    <div class="panel-body">Skupni rezultati ragate {{ title }}.</div>
        <!-- Table -->
        <div class="table-responsive">
            <table class = "table">
            <thead>
            <tr>
                <th>Mesto</th>
                <th>Št. jadra </th>
                <th>Ime </th>
                <th>Spol </th>
                <th>Leto rojstva </th>
                <th>Klub </th>
                {% for nPlov in nPlovov %}
                <th>{{ nPlov|string }}. plov</th>
                {% endfor %}
                <th>Neto točke</th>
                <th>Skupne točke </th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for element in data_regata %}
                <tr>
                    {% for elementek in element %}
                    <td>{{ elementek}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
{% for nPlov in nPlovov %}
<div id="section{{ (nPlov + 1)|string }}" class="container-fluid">
    <h1>Rezultati - {{ nPlov|string }}. plov</h1>
    <div class="panel panel-my-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Rezultati - {{ nPlov|string }}. plov</div>
  <!-- Table -->
        <div class="table-responsive">
            <table class = "table">
                <thead>
                <tr>
                    <th>Mesto</th>
                    <th>Št. jadra </th>
                    <th>Ime </th>
                    <th>Spol </th>
                    <th>Leto rojstva </th>
                    <th>Klub </th>
                    <th>Točke </th>
                </tr>
                </thead>
                <tbody id="myTable">
                {% for element in data_plovi[nPlov - 1] %}
                    <tr>
                        <td>{{ element.mesto|e }}</td>
                        <td>{{ element.salino|e }}</td>
                        <td>{{ element.ime|e }}</td>
                        <td>{{ element.spol|e }}</td>
                        <td>{{ element.leto_rojstva|e }}</td>
                        <td>{{ element.klub|e }} </td>
                        <td>{{ element.tocke|e }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
{% endblock%}