{% extends "base.html" %}

{% block title %}{{ title}}{% endblock %}
{% block head %}
  {{ super() }}
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative;
  }
  .affix {
      top: 20px;
      z-index: 9999 !important;
  }
  {#div.col-sm-9 div {#}
  {#    height: 250px;#}
  {#    font-size: 28px;#}
  }

  {##}
  {#@media screen and (max-width: 810px) {#}
  {#  #section1, #section2, #section3, #section41, #section42  {#}
  {#      margin-left: 150px;#}
  {#  }#}
  {#}#}
  </style>
{% endblock %}
{% block content %}
<body data-spy="scroll" data-target="#myScrollspy" data-offset="15">

<div class="container-fluid">
  <h1>{{ title}}</h1>
  <h3>{{ klub }}</h3>
  <h3>{{ startDate}} - {{ endDate }}</h3>

</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div id="section1">
                <div class = "panel panel-default">
                    <div class = "panel-heading">
                        <h3 class = "panel-title">Rezultati - končni</h3>
                    </div>

                    <div class = "panel-body">
                        Skupni rezultati ragate {{ title }}.
                    </div>
                    <table class = "table">
                        <tr>
                            <th>Mesto</th>
                            <th>Salino </th>
                            <th>Ime </th>
                            <th>Spol </th>
                            <th>Leto rojstva </th>
                            <th>Prvi plov </th>
                            <th>Drugi plov </th>
                            <th>Tretji plov </th>
                            <th>Četrti plov </th>
                            <th>Neto točke</th>
                            <th>Skupne točke </th>


                        </tr>
                        {% for element in data_regata %}
                        <tr>
                            <td>{{ element.mesto|e }}</td>
                            <td>{{ element.salino|e }}</td>
                            <td>{{ element.ime|e }}</td>
                            <td>{{ element.spol|e }}</td>
                            <td>{{ element.leto_rojstva|e }}</td>
                            <td>{{ element.prvi|e }}</td>
                            <td>{{ element.drugi|e }}</td>
                            <td>{{ element.tretji|e }}</td>
                            <td>{{ element.cetrti|e }}</td>
                            <td>{{ element.net|e }}</td>
                            <td>{{ element.tot|e }}</td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
            <div id="section2">
                <div class = "panel panel-default">
                <div class = "panel-heading">Rezultati - 1. plov</div>

                <table class = "table">
                       <tr>
                            <th>Mesto</th>
                            <th>Salino </th>
                            <th>Ime </th>
                            <th>Spol </th>
                            <th>Leto rojstva </th>
                            <th>Točke plov </th>
                        </tr>

                        {% for element in data_plov1 %}
                        <tr>
                            <td>{{ element.mesto|e }}</td>
                            <td>{{ element.salino|e }}</td>
                            <td>{{ element.ime|e }}</td>
                            <td>{{ element.spol|e }}</td>
                            <td>{{ element.leto_rojstva|e }}</td>
                            <td>{{ element.tocke|e }}</td>
                        </tr>
                        {% endfor %}
                </table>

                </div>
                </div>
            <div id="section3">
                <div class = "panel panel-default">
                <div class = "panel-heading"> Rezultati - 2. plov</div>

                <table class = "table">
                       <tr>
                            <th>Mesto</th>
                            <th>Salino </th>
                            <th>Ime </th>
                            <th>Spol </th>
                            <th>Leto rojstva </th>
                            <th>Točke plov </th>
                        </tr>

                        {% for element in data_plov2 %}
                        <tr>
                            <td>{{ element.mesto|e }}</td>
                            <td>{{ element.salino|e }}</td>
                            <td>{{ element.ime|e }}</td>
                            <td>{{ element.spol|e }}</td>
                            <td>{{ element.leto_rojstva|e }}</td>
                            <td>{{ element.tocke|e }}</td>
                        </tr>
                        {% endfor %}
                </table>

                </div>
                </div>
            <div id="section4">
                <div class = "panel panel-default">
                <div class = "panel-heading">Rezultati - 3. plov</div>

                <table class = "table">
                       <tr>
                            <th>Mesto</th>
                            <th>Salino </th>
                            <th>Ime </th>
                            <th>Spol </th>
                            <th>Leto rojstva </th>
                            <th>Točke plov </th>
                        </tr>

                        {% for element in data_plov3 %}
                        <tr>
                            <td>{{ element.mesto|e }}</td>
                            <td>{{ element.salino|e }}</td>
                            <td>{{ element.ime|e }}</td>
                            <td>{{ element.spol|e }}</td>
                            <td>{{ element.leto_rojstva|e }}</td>
                            <td>{{ element.tocke|e }}</td>
                        </tr>
                        {% endfor %}
                </table>

                </div>
                </div>
            <div id="section5">
                <div class = "panel panel-default">
                <div class = "panel-heading">Rezultati - 4. plov</div>

                <table class = "table">
                       <tr>
                            <th>Mesto</th>
                            <th>Salino </th>
                            <th>Ime </th>
                            <th>Spol </th>
                            <th>Leto rojstva </th>
                            <th>Točke plov </th>
                        </tr>

                        {% for element in data_plov4 %}
                        <tr>
                            <td>{{ element.mesto|e }}</td>
                            <td>{{ element.salino|e }}</td>
                            <td>{{ element.ime|e }}</td>
                            <td>{{ element.spol|e }}</td>
                            <td>{{ element.leto_rojstva|e }}</td>
                            <td>{{ element.tocke|e }}</td>
                        </tr>
                        {% endfor %}
                </table>

                </div>
                </div>

        </div>
    <nav class="col-sm-3 hidden-sm" id="myScrollspy">
          <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="250">
                <li><a href="#section1">Regata</a></li>
                <li><a href="#section2">1. Plov</a></li>
                <li><a href="#section3">2. Plov</a></li>
                <li><a href="#section4">3. Plov</a></li>
                <li><a href="#section5">4. Plov</a></li>

      </ul>
    </nav>
  </div>
</div>

</body>
{% endblock %}
